.navbar {
    height: 60px;
    position: fixed; /* Set the navbar to fixed position */
    top: 20; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    left: 0; 
    z-index: 9999;
    background-color: #2300a034; 
    color: white;

    .wrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        text-align: center;

        .item{
            display: flex;
            align-items: center;
            font-size: 18px;
        }

        .left{
            display: flex;
            align-items: center;
            gap: 25px;
        }

        .center{
            font-size: 30px;
            letter-spacing: 2px;
        }

        .right{
            display: flex;
            align-items: center;
            gap: 25px;

            .icons{
                display: flex;
                gap: 15px;
                color: #777;
                cursor: pointer;

                .cartIcon{
                    position: relative;
                    span{
                        font-size: 12px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #ae95f0;
                        color: white;
                        position: absolute; 
                        top: -10px;
                        right: -10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}